<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee</title>
    <link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://datatables.net/media/css/site-examples.css">

    <style>
        .dataTables_paginate {
            float: left !important;
        }
        th {
            text-align: center;
        }
    </style>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <div class="container my-2" align="center">
        <h2>Daftar Konsumen</h2>
        <div class="text-right">
            <a th:href="@{/konsumen/add}" class="btn btn-primary mb-3 mt-3 text-right" >Tambah Konsumen</a>
        </div>
        <table id="table_id" class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Alamat</th>
                    <th scope="col">Kota</th>
                    <th scope="col">Provinsi</th>
                    <th scope="col">Tanggal Registrasi</th>
                    <th scope="col">Status</th>
                    <th scope="col">Aksi</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="konsumen : ${konsumen}">
                    <td class="text-center" th:text="${konsumen.id}"></td>
                    <td th:text="${konsumen.nama}"></td>
                    <td th:text="${konsumen.alamat}"></td>
                    <td th:text="${konsumen.kota}"></td>
                    <td th:text="${konsumen.provinsi}"></td>
                    <td class="text-center" th:text="${konsumen.tglRegistrasi}"></td>
                    <td th:text="${konsumen.status}"></td>
                    <td> <a th:href="@{/konsumen/edit/{id}(id=${konsumen.id})}"
                        class="btn btn-primary btn-sm">Update</a>
                        <a th:href="@{/deleteKonsumen/{id}(id=${konsumen.id})}"
                        class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer"></div>
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table_id').DataTable({
                "ordering": false,
                "pagingType": "simple",
                "lengthMenu": [ 10 ],
                "search": true
            });
        });
    </script>
</body>
</html>
